.container{
    display: flex;
    box-sizing: border-box;
    width: 1060px;
    @media (max-width: 1060px) {
      width: 100%;
    }
  
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 320px) {
      width: 100%;
    }
  }
  