.container {
  display: flex;
  box-sizing: border-box;
  width: 1060px;
}
@media (max-width: 1060px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=container.css.map */