.header{
    display: flex;
    width: 100%;
    min-height: 800px;
    max-height: 800px;
    margin-top: -119px;
    background:  linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
    flex-direction: row;
    justify-content: center;
    @media(max-width:1060px){
       width: 100%;
       margin-top: -119px; 
    }
    @media(max-width:768px){
        width: 100%;
        margin-top: -117px; 
     }
     @media(max-width:320px){
        width: 100%;
        margin-top: -106px; 
     }
}
.header__container{
    align-items: end;
    padding-bottom: 119px;
    @media(max-width: 1060px){
        width: 100%;
    }
    @media(max-width :768px){
        width: 100%;
        padding-bottom: 130px;
    }
    @media(max-width :320px){
        width: 100%;
        margin-left: 0;
    }
}
.header__head-title{
    color: #FFF;
    font-family: DynaPuff;
    font-size: clamp(48px,11vw, 80px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media(max-width:1060px){
        margin-left: 34px;
    }
    @media(max-width:768px){
        margin-left: 34px;
    }
    @media(max-width:320px){
        margin-left: 21px;
    }
}