.section-design{
    background-color: #202020;
    display: flex;
    justify-content: center;
    padding-top: 82px;
    padding-bottom: 138px;
    @media (min-width: 1060px) {
        padding-top: 82px;
        padding-bottom: 138px;
    }
  
    @media (min-width: 768px) {
        padding-top: 82px;
        padding-bottom: 129px;
    }
    @media (min-width: 320px) {
        padding-top: 58px;
        padding-bottom: 93px;
    }
}

.section-design__container{
    flex-direction: column;
    margin-left: 17px;
  margin-right: 17px;
}
.section-design__title {
    color: #fff;
    font-family: DynaPuff;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 38px;
    text-wrap: nowrap;
    @media (max-width: 1060px) {
      font-size: 80px;
    }
    @media (max-width: 768px) {
      font-size: 80px;
    }
    @media (max-width: 700px) {
      font-size: 70px;
    }
    @media (max-width: 620px) {
      font-size: 60px;
    }
    @media (max-width: 500px) {
      font-size: 50px;
    }
  
    @media (max-width: 443px) {
      font-size: 42px;
    }
    @media (max-width: 420px) {
      font-size: 38px;
    }
    @media (max-width: 346px) {
      font-size: 36px;
    }
    @media (max-width: 320px) {
      font-size: 36px;
    }
  }
  .section-design__grid {
    display: grid;
    position: relative;
    width: 100%;
    gap: 26px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 414px);
    grid-template-areas: "star star" "dolby flower";
    @media (max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 414px);
      grid-template-areas: "star star" "dolby flower";
    }
  
    @media (max-width: 705px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 414px);
      grid-template-areas: "star" "dolby" "flower";
    }
  }
  
  .section-design__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
    transition: all ease-in-out 0.25s;
  
    &--star {
      grid-area: star;
    }
    &--star::before {
      content: "";
      filter: grayscale(100);
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 414px;
      left: 0;
      border-radius: 40px;
      background-size: cover;
      background-position: center;
      background-image: url(../images/unsplash_rqIfy1UyIzE.jpg);
    }
  
    &--dolby::before {
      content: "";
      filter: grayscale(100);
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 414px;
      left: 0;
      border-radius: 40px;
      background-size: cover;
      background-position: center;
      background-image: url("../images/Rectangle-6.jpeg");
    }
  
    &--flower::before {
      content: "";
      filter: grayscale(100);
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 414px;
      left: 0;
      border-radius: 40px;
      background-size: cover;
      background-position: center;
      background-image: url("../images/Rectangle-7.jpeg");
    }
  
    
  
    &--dolby {
      grid-area: dolby;
    }
    &--flower {
      grid-area: flower;
    }
  }
  
  .section-design__star {
    z-index: 9;
    width: 268px;
    height: 268px;
    @media (max-width: 1060px) {
      width: 268px;
      height: 268px;
    }
    @media (max-width: 768px) {
      width: 227px;
      height: 227px;
    }
  
    @media (max-width: 320px) {
      width: 172px;
      height: 172px;
    }
  }
  
  .section-design__dolby {
    display: flex;
  
    width: 0;
    height: 0;
    @media (max-width: 460px) {
      transform: scale(0.7);
    }
    &::after {
      position: relative;
      top: -100px;
      display: block;
      background-color: #f2c94c;
      left: -94px;
      width: 0px;
      height: 200px;
      content: "";
      border-left: 94px solid transparent;
      border-bottom-left-radius: 100px;
      border-top-left-radius: 100px;
    }
  
    &::before {
      position: relative;
      display: block;
      background-color: #f2c94c;
      left: -94px;
      width: 0px;
      height: 200px;
      top: -100px;
      content: "";
      border-left: 94px solid transparent;
      border-bottom-right-radius: 100px;
      border-top-right-radius: 100px;
    }
  }
  
  .section-design__flower {
    z-index: 3;
    width: 233px;
    height: 225px;
    @media (max-width: 1060px) {
      width: 233px;
      height: 225px;
    }
    @media (max-width: 768px) {
      width: 183px;
      height: 177px;
    }
  
    @media (max-width: 320px) {
      width: 148px;
      height: 143px;
    }
  }