.section-app{
    background: #3C3C3C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 86px 0;
}

.section-app__container{
    justify-content: center;
    margin: 0 17px;
}
.section-app__card-arrow-link{
   display: flex;
   background-color: #fff;
   position: absolute;
   right: 32px;
   top: 32px;
   width: 56px;
   height: 56px;
   justify-content: center;
   align-items: center;
   border-radius: 28px; 
}
.section-app__card-img{
    display: flex;
    width: 100%;
    object-fit: cover;
    height: 338px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 13px;  
}
.section-app__card-paragraph{
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-app__card-title {
    color: #565656;
    font-family: DynaPuff;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    &--first{
      font-size: 40px;
      @media (max-width: 460px) {
          font-size: 36px;
      }
      @media (max-width: 320px) {
          font-size: 32px;
      }
    }     
}
.section-app__card{
    position: relative;
  display: flex;
    gap: 20px;
  padding: 24px 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  background: #fffef2;
  @media (max-width: 460px) {
    padding: 16px;
  }
@media (max-width: 320px) {
    padding: 16px;
}
  &--first {
    grid-area: one;
  }
  &--second {
    grid-area: two;
    @media (max-width: 560px) {
      display: none;
      
  
    }
    @media (max-width: 460px) {
        display: none;
      }
    @media (max-width: 320px) {
      display: none;
    }
  }
  &--three {
    grid-area: three;
    
    @media (max-width: 768px) {
      display: none;
    }
    @media (max-width: 560px) {
      display: flex;
      
  
    }
    @media (max-width: 460px) {
        display: flex;
      }
    @media (max-width: 320px) {
        display: flex;
      }
  }
  &--four {
    @media (max-width: 560px) {
      display: none;
      
  
      
    }

    @media (max-width: 460px) {
      display: none;
    }
    @media (max-width: 320px) {
      display: none;
    }
    
    grid-area: four;
  }
}   
.section-app__grid{
    display: grid;
    grid-template-columns: repeat(3, 325px);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "one one one" "two three four";
    row-gap: 63px;
    column-gap: 40px;
    @media (max-width: 1060px) {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "one one one" "two three four";
    }
  
    @media (max-width: 768px) {
      width: 100%;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 121px;
      column-gap: 20px;
  
    }
    @media (max-width: 560px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "one" "three";
      row-gap: 63px;
      
  
    }
    @media (max-width: 460px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "one" "three";
      row-gap: 63px;
      
  
    }
    
    
    @media (max-width: 320px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "one" "three";
    }
     
}