.section-info {
    background-color: #202020;
    background-image: url("../images/union.svg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-info__container {
    flex-direction: column;
    padding: 101px 0;
    gap: 40px;
    @media (max-width: 1060px) {
      margin-left: 34px;
      margin-right: 34px;
    }
  
    @media (max-width: 768px) {
      margin-left: 34px;
      margin-right: 34px;
    }
    @media (max-width: 320px) {
      margin-left: 17px;
      margin-right: 17px;
    }
  }
  .section-info__list {
    display: flex;
    gap: 96px;
    @media (max-width: 420px) {
      gap: 0;
      justify-content: space-between;
    }
    @media (max-width: 320px) {
      gap:0
    }
  }
  
  .section-info__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: #FFF;
  }
  
  .section-info_item-count {
    color: #fff;
    font-family: DynaPuff;  
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
  }
  
  .section-info_item-desc {
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0;
    @media (max-width: 420px) {
     word-spacing: 100vw;;
    }
  }
  .section-info__paragrph {
    color: #fff;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 524px;
    color: #FFF;
  }
  .section-info__title {
    color: #faeb49;
    font-family: DynaPuff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }