.section-accent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    background-image: url("../images/Rectangle-8.jpeg");
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 800px;
    @media (max-width: 320px) {
        height: 500px;
      }
}

.section-accent__container{
    @media (max-width: 1060px) {
    margin-left: 34px;
    margin-right: 34px;
  }

  @media (max-width: 768px) {
    margin-left: 34px;
    margin-right: 34px;
  }
  @media (max-width: 320px) {
    margin-left: 17px;
    margin-right: 17px;
  }
}
.section-accent__title {
    color: #fff;
    text-align: center;
    
    
    font-family: DynaPuff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (max-width: 420px) {
      font-size: 32px;
    }
    @media (max-width: 320px) {
      font-size: 24px;
    }
  }
  
  