.nav {
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  margin-top: 23px;
}
.nav--black {
  background-color: #202020;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.5);
}
@media (max-width: 1060px) {
  .nav {
    margin-top: 23px;
  }
}
@media (max-width: 768px) {
  .nav {
    margin-top: 21px;
  }
}
@media (max-width: 320px) {
  .nav {
    margin-top: 9px;
  }
}

.nav-container {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 34px;
  margin-right: 34px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1060px) {
  .nav-container {
    margin-left: 34px;
    margin-right: 34px;
  }
}
@media (max-width: 768px) {
  .nav-container {
    margin-left: 34px;
    margin-right: 34px;
  }
}
@media (max-width: 320px) {
  .nav-container {
    margin-left: 17px;
    margin-right: 17px;
  }
}/*# sourceMappingURL=main.css.map */