.nav{
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    margin-top: 23px;
     &--black {
        background-color: #202020;
        box-shadow: 0px 4px 4px 0px rgba( 255 ,255 ,255 , 0.5);
    }
    @media (max-width: 1060px){
      margin-top: 23px;  
    }
    @media (max-width: 768px){
      margin-top: 21px;  
    }
    @media(max-width:320px){
        margin-top: 9px;
    }
}
.nav-container{
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 34px;
  margin-right: 34px;
  justify-content: space-between;
  align-items: center;
  @media(max-width:1060px) {
    margin-left: 34px;
    margin-right: 34px;
  }  
  @media(max-width:768px) {
    margin-left: 34px;
    margin-right: 34px;
  }  
  @media(max-width:320px) {
    margin-left: 17px;
    margin-right: 17px;
  }  
}
.nav-menu{
   display: flex;
   gap: 20px;
   @media (max-width: 1060px){
}
@media (max-width: 768px){
  display: none;
}
@media (max-width: 320px){
  display: none;
}
}
.nav__item-link{
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav__item{
 display: flex;
 padding: 10px 16px;
 justify-content: center;
 align-items: center;
 gap: 12px;
 border-radius: 20px;
 border: 1px solid #fff;   
}
.nav__menu-btn{
display: none;
padding: 20px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 20px;
border: 2px solid #fff;
background-color: transparent;
cursor: pointer;
@media(max-width:1060px){
    display: none;
}  
@media(max-width:768px){
    display: flex;
}  
@media(max-width:320px){
    display: flex;
}    
}